/* Main variables file */
$app-font:
	BlinkMacSystemFont,"Segoe UI",
	Roboto,"Helvetica Neue",Arial,sans-serif,
	"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$app-bg-color: #d9bf7f;
$app-content-color: #fff8e6;

$app-logo-color: #55161b;
$app-logo-border-color: #d9bf7f;

$pattern-bg-dark: rgba(240,166,17,0);
$pattern-bg-light: #666;
$pattern-bg-medium: #555;

$card-border-hilite-color: #7f7b79;
$card-hilite-color: #bca780;
$card-bg-color: #af9e70;
$card-text-color: #383c30;

$card-margin-l0-color: #2a2826;
$card-margin-l1-color: #5f5b59;
$card-margin-l2-color: #2c2926;

$card-margin-r0-color: #3b3734;
$card-margin-r1-color: #2b2926;
$card-margin-r2-color: #726d6b;
